{% extends 'sales/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<ul>
    {% for s in sales %}
    <li><div class="article-panel">
        <p class="first">{{s.cat}} ({{s.place}})</p>
        <p class="last">Дата: {{s.create_date|date:"d-m-Y H:i"}} ({{s.duration}} дней)</p>
    </div>
        <h2>{{s.title}}</h2>
        <p>{{s.description|linebreaks|truncatewords:50}}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ s.get_absolute_url }}">Открыть полностью</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}