{% extends 'sales/base.html' %}

{% block content %}
<h1>{{sale.title}}</h1>

{% if sale.photo %}
<p><img class="img=article-left" src="{{sale.photo.url}}"></p>
{% endif %}
{{sale.description|linebreaks}}
<hr>
<h2>Комментарии</h2>
<br>
{% if not sale.comments.all %}
    Комментариев нет...
{% else %}
    {% for comment in sale.comments.all %}
<div class="article-panel">
<strong>{{ comment.username }}</strong>
    <p>{{comment.comment_body }}</p>
    <p><small>{{ comment.created_on }}</small></p>
    </div>
<br/>

<br><br/>

{% endfor %}
{% endif %}
{% endblock %}