{% extends 'sales/base.html' %}
{% block content %}

<html>
<head>

	<h1>Profile</h1>

<!--	{% for f in form %}-->
<!--    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>-->
<!--    <div class="form-error">{{ f.errors }}</div>-->
<!--    {% endfor %}-->


</head>
<body>
	<hr>
	{% if profile.avatar %}
	<img src="{{ profile.avatar.url }}" height=200 width=200><br>
	{% endif %}
	<h2>Логин: {{profile.user}}</h2>
	<h2>Email: {{profile.email}}</h2>
	<h2>Последняя авторизация: {{profile.last_login}}</h2>
	<h2>Любимые места: {{profile.prefer_category}}</h2>

</body>
{% endblock content %}